@*Author : Rabab Kazim Dated feb- 2023*@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center low-opacity-bg-image">
    <h1 class=" fade-in-text">Welcome To Travel Experts</h1>
</div>

